$--gray-1: #969799;
$--gray-2: #323233;
$--gray-3: #f7f7f7;
$--gray-4: #c0c4cc;

$--primary-color: #1989fa;
$--success-color: #07c160;
$--danger-color: #ee0a24;
$--warning-color: #ff976a;
$--gold-color: #fed400;

$--main-color: #ff3f3f;
$--text-color: $--gray-2;
$--text-light-color: $--gray-1;
$--background-color: $--gray-3;

$--border-color: #dcdee0;
$--border-light: #ebedf0;

$--border-radius-sm: 2px;
$--border-radius-md: 4px;
$--border-radius-lg: 8px;
$--border-round: 100%;

$--font-size-xs: 10px;
$--font-size-sm: 12px;
$--font-size-md: 14px;
$--font-size-lg: 16px;
$--font-size-xl: 18px;
$--font-weight-bold: 500;
$--line-height-xs: 14px;
$--line-height-sm: 18px;
$--line-height-md: 20px;
$--line-height-lg: 22px;
